<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97758661684-ur16glrqlv9mj80m2v1fr59vj7brrmqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97758661684-ur16glrqlv9mj80m2v1fr59vj7brrmqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDJsCKrL2nfpQN4cORE_lGgEKW7CB9cLbY</string>
	<key>GCM_SENDER_ID</key>
	<string>97758661684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bob</string>
	<key>PROJECT_ID</key>
	<string>bob-hackathon-8a7ec</string>
	<key>STORAGE_BUCKET</key>
	<string>bob-hackathon-8a7ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97758661684:ios:4a02d37e337723e288ce61</string>
</dict>
</plist>